Terraform/Environnements/Dev/.terraform/terraform.tfstate
Terraform/Environnements/Dev/.terraform/modules/modules.json
Terraform/Environnements/Dev/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.32.0/windows_amd64/LICENSE.txt
Terraform/Environnements/Dev/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.32.0/windows_amd64/terraform-provider-azurerm_v4.32.0_x5.exe
Terraform/Environnements/Rec/terraform.tfvars
Terraform/Environnements/Rec/.terraform.lock.hcl
Terraform/Environnements/Rec/.terraform/terraform.tfstate
Terraform/Environnements/Rec/.terraform/modules/modules.json
Terraform/Environnements/Rec/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.32.0/windows_amd64/LICENSE.txt
Terraform/Environnements/Rec/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.32.0/windows_amd64/terraform-provider-azurerm_v4.32.0_x5.exe
